asgiref==3.8.1
beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.4
dj-rest-auth==7.0.1
django==4.2.23
django-allauth==65.9.0
django-cors-headers==4.7.0
django-rest-knox==5.0.2
djangorestframework==3.16.0
idna==3.10
oauthlib==3.3.1
pillow==11.2.1
pycparser==2.22
pyjwt==2.10.1
requests==2.32.4
requests-oauthlib==2.0.0
soupsieve==2.7
sqlparse==0.5.3
typing-extensions==4.14.0
urllib3==2.5.0
uwsgi==2.0.30
